.formBorder{
  border-radius: 1rem;
}
.errorForm{
  font-size: 0.8rem;
  color: rgb(236, 57, 57);
}
.info{
  font-size: 0.8rem;
  color: rgb(142, 141, 141);
}
.hidden{
  visibility: hidden;
  font-size: 0.8rem;
}
.btnContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
}
.buttons{
width: 7vw;
}
.title{
  padding: 1rem;
  font-size: 2rem;
  color: rgb(31, 31, 31);
  transition-duration: 0.3s;
  cursor: pointer;
}
.title:hover{
 opacity: 0.7;
}
.salary{
  width: 10vw;
}
.salaryInput{
  display: flex;
 flex-direction: row;
  align-items: center;
}
.usd{

padding: 0.5rem;
}
